<div class="box">
    <nav class="navbar navbar-light">
          <h3 class="navbar-brand">Implicit Association Test</h3>
    </nav>
 
    <div class="container">
        <h5 class="info">Next, you will use the 'E' and 'I' computer keys to categorize items into groups as fast as you can. These are the four groups and the items that belong to each:</h5>
        <table class="table table-bordered">
             <tr>
                <th>Category</th>
                <th>Items</th>
            </tr>
 
            <tr>
                <td>
                   Positive 
                </td>
                <td>
                    Enjoy, Pleasing, Excellent, Laughing, Celebrate, Love, Fantastic, Lovely
                </td>
            </tr>
 
            <tr>
                <td>
                    Negative
                </td>
                <td>
                    Hate, Poison, Nasty, Disgust, Horrific, Abuse, Pain, Detest
                </td>
            </tr>
        </table>
        <a type="button" class="btn btn-primary" routerLink="/first-trial" routerLinkActive="router-link-active" >Continue</a>
    </div>
</div>